@{
    ViewBag.Title = "ConversationWithContact";
}

<div id="dataModel"></div>

@section JavaScript{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var hubNotify = $.connection.messagesHub;

            $.connection.hub.start().done(function () {
                getAll();
            });

            hubNotify.client.refreshMessageData = function () {
                getAll();
            };
        });

        function getAll() {
            var model = $('#dataModel');
            $.ajax({
                url: '/Match/GetMessageData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) { model.empty().append(result); }
            });
        }
    </script>
}  